body{
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    align-items: center;

}

table{
    border-collapse: collapse;
    width: 800px;
    border-radius: 5px;
}

thead{
    background-color: beige;
    text-align: left;
}

th,td{
    padding: 10px;
}

td image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.item{
    transition: all 0.3s;
    cursor: pointer;
}
.tag{
    background-color: gainsboro;
    color:#333;
    padding:5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin:3px;
}
.dot{
    margin-left: 5px;
    display:inline-block;
    width:10px;
    height:10px;
    border-radius: 50%;
}
.info{
    display: flex;
    align-items: center;
    gap:10px;
}
.item:hover{
    background-color: lightgrey;
}
.active-bg{
    background-color: #49e451;
}
.active-cl{
    color: #49e451
}
.offline-bg{
    background-color: lightgray;
}
.offline-bg{
    background-color: lightgray;
}
